<header class="header">
    <div class="logo">
        Logo
    </div>
    <div class="navigation">
        <nav class="nav-bar">
            <ul class="menu">
                <li>
                    <a href="/">Página Inicial</a>
                </li>
                <li>
                    <a href="/sobre">Sobre</a>
                </li>
                <li>
                    <a href="#">Link 3</a>
                </li>
                <li>
                    <a href="#">Link 4</a>
                </li>
            </ul>
        </nav>
    </div>
</header>